
/* Large Devices */
@media (min-width: 1200px){

    #title-left h4{
        margin-left: 90px;
    }

    #slogan {
        left: 300px;
    }

    #vertical-heading h5{
        top: -20px;
        right: -80px;
    }

}

@media (min-width:992px) and (max-width: 1199px){

} 

@media (min-width:768px) and (max-width: 991px){
    .r-tabs-accordion-title {
        text-align: center;
        margin-bottom: 10px;
    }

    .r-tabs-accordion-title a{
        font-size: 13px;
        color: #212226;
        font-weight: 400;
        padding: 0;
        text-decoration: none;
    }

    .r-tabs-accordion-title.r-tabs-state-active a {
        border-bottom: 1px solid #3f3d3d;
        padding-bottom: 5px;
        line-height: 20px;
    }

    .whole-item{
        min-height: 450px;
    }
} 

@media (max-width: 767px){

} 